/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #111d13;
    background-color: #a1cca5;
    overflow-x: hidden;
}

.topnav {
    background-color: #709775;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #111d13;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav .icon {
    display: none; /* Masqué par défaut */
}

.topnav .icon {
    display : none;
}

.moon-dance-regular {
    font-family: "Moon Dance", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.lora-normal {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }  



section {
    padding: 2rem;
    margin: 1rem 0;
}

#accueil {
    background-color: #a1cca5;
    font-size: 6em;
    text-align: center;
    line-height: 4.5;
}
#quelques_dessins{
    margin-top: 12em;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-top:1rem;
}
.container {
    position: relative;
    width: 100%;

}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#415d43;
    border-radius: 8px;

}

.container:hover .overlay {
    opacity: 1;
    transition: .0s ease;

}

.gallery img {
    width: 100%;
    height: 100%;
    border-radius: 8px;

}

@media (max-width: 768px) {
    .topnav a:not(:first-child):not(:last-child) {
        display: none; /* Masquer tous les liens sauf le premier */
    }
    .topnav .icon {
        display: block; /* Afficher le bouton hamburger */
        float: right;
    }
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        top: 0;
        right: 0;
    }
    .topnav.responsive a {
        display: block; /* Afficher les liens en colonne */
        text-align: left;
    }
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    section{
        margin:0rem;
    }
    .lison {
        font-size: 0.5em;
    }
    #acceuil {
        font-size: 0.1em;
        line-height: 0;
    }
    #quelques_dessins{
        margin-top: 2em;
        font-size: 0.7em;
    }
}
@media (max-width: 480px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    
    }
    section{
        margin:0rem;
        margin-top: 1em;
        padding: 1em;
        padding-top: 0;
    }
    .lison {
        font-size: 0.3em;
    }
    #acceuil {
        font-size: 0.1em;
        line-height: 0;
    }
    #quelques_dessins{
        margin-top: 0em;
    }
}

.text {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:#a1cca5;
    font-size: 3em;
}

footer {
    background-color: #709775;
    color: #111d13;
    text-align: center;
    padding: 1rem 0;
    margin-top: 4rem;
}
